.DS_Store
.env
.tmp
/deployments/
/.vscode/
/build/
/node_modules/
/typechain/
/artifacts/
/cache/
*.swp
/.openzeppelin/unknown-31337.json
/yarn-error.log
/npm-debug.log
/package-lock.json
/abi/
/docs/
/sort.sh